/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2014, 9:08:56 PM
    Author     : Lowie
*/

.friendlist {
    float: left;
    width: 520px;
    min-height: 1px;
}

.friendlist li {
    display: block;
    width: 350px;
    height: 75px;
    margin: 15px 0px;
}

.friendlist li div {
    font-size: 20px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

.friendlist li .deletefriend {
    top: 0px;
    right: 0px;
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    margin: 10px;
    opacity: 0.5;
}



.friendactivitylist {
    float: left;
    width: 300px;
}

.friendactivitylist li {
    display: block;
    width: 300px;
    padding: 6px;
    margin: 15px 0px;
    padding-left: 12px;
    line-height: 20px;
}


.friendrequestlist {
    width: 200px;
    margin-bottom: 30px;
}

.friendrequestlist li {
    display: block;
    width: 350px;
    height: 35px;
    margin: 15px 0px;
}

.friendrequestlist li div {
    font-size: 16px;
    float: left;
    margin-top: 8px;
    margin-left: 15px;
}

.friendrequestlist li .allowfriend {
    top: 0px;
    right: 0px;
    position: relative;
    float: right;
    width: 15px;
    height: 15px;
    margin: 10px;
    margin-right: 0px;
}

.friendrequestlist li .denyfriend {
    top: 0px;
    right: 0px;
    position: relative;
    float: right;
    width: 15px;
    height: 15px;
    margin: 10px;
}

#adduser {
    float:right;
    margin-right: 263px;
    cursor: pointer;
}