/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2014, 7:34:19 PM
    Author     : Lowie
*/

.treelist a {
    display: block;
    width: 350px;
    height: 75px;
    margin: 15px 0px;
}

.treelist a li {
    list-style-type: none;
}

.treelist a li div {
    font-size: 20px;
    float: left;
    margin-top: 30px;
    margin-left: 15px;
}

.treelist a li .privacy {
    top: 0px;
    right: 0px;
    position: relative;
    float: right;
    width: 20px;
    height: 20px;
    margin: 10px;
    opacity: 0.5;
}

.treegroup {
    float: left;
    width: 410px;
}

form {
    margin-top: 15px;
}

input[type="submit"] {
    width: 75px;
    height: 29px;
}

input {
    width: 200px;
    height: 25px;
}