/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 2, 2014, 8:25:36 PM
    Author     : Lowie
*/

body > .wrapper > div {
    width: 100000000px;
}


.tree {
    display: inline-block;
    overflow: auto;
}
.tree ul {
	padding-top: 20px;
        position: relative;
	
	-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 21px 5px 0 5px;
	
	-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without 
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and 
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	padding: 5px 5px 5px 5px;
	text-decoration: none;
	display: inline-block;
        font-size: 9pt;
        background-position: left bottom;
        background-repeat: no-repeat;
	
	-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li a:not(.unknown) {
        cursor: pointer;
}

body > .wrapper {
    width: auto;
    text-align: center;
}

body > .wrapper > div {
    text-align: left;
    display: inline-block;
    /* for ie6/7: */
    *display: inline;
    zoom: 1;
}

.popupbox p {
    margin-bottom: 10px;
}

#refperson {
    border-left-color: #447733;
    border-right: 5px solid #447733;
}

#rebuildtree {
}